#mainContainer{
    background-color: #191919;
    left: 5px;
    right:5px;
    bottom: 30px;
    top: 60px;;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    padding:5px;
    transition: 0.3s;
    box-shadow: 0px 10px 100px rgb(0, 0, 0);
}