#messageSectionContainer{
    position: absolute;
    background-color: #303030;
    left:270px;
    right: 5px;
    bottom: 5px;
    top:5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(10, 10, 10, 0.164);
    transition:0.3s;
    overflow: hidden;
}

@media only screen and (max-width:700px){
    #messageSectionContainer{
        left:90px;
        transition: 0.3s;
    }
}